.idea
logs
meta/logs
*.iws
*.iml
*.ipr
.classpath
.project
bin/
.settings
war/
target/
.DS_Store
.metadata/
RemoteSystemsTempFiles/
Servers/
node_modules/
dist/
dist.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

