<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditease.adx.clockwork.dao.mapper.TaskGroupMapper">
    <resultMap id="BaseResultMap" type="com.creditease.adx.clockwork.common.pojo.TbClockworkTaskGroupPojo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_group_name" property="userGroupName" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="if_calculate_time" property="ifCalculateTime" jdbcType="INTEGER" />
        <result column="last_start_time" property="lastStartTime" jdbcType="TIMESTAMP" />
        <result column="last_end_time" property="lastEndTime" jdbcType="TIMESTAMP" />
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="batch_number" property="batchNumber" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, user_group_name, name, user_name, description, status, create_time, update_time, batch_num
  </sql>

    <select id="selectAllIdAndName" resultType="java.util.Map">
    select
    id, name
    from tb_clockwork_task_group
  </select>

    <select id="selectTaskGroupIdAndNameByUserGroupName" resultType="java.util.Map">
    select
    id, name
    from tb_clockwork_task_group
    where user_name = #{userName} or user_group_name = #{userGroupName}
  </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.creditease.adx.clockwork.common.entity.gen.TbClockworkTaskGroup" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Dec 23 10:42:31 CST 2019.
        -->
        update tb_clockwork_task_group
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="userName != null" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userGroupName != null" >
                user_group_name = #{userGroupName,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="takeEffectStatus != null" >
                take_effect_status = #{takeEffectStatus,jdbcType=VARCHAR},
            </if>
            <if test="ifCalculateTime != null" >
                if_calculate_time = #{ifCalculateTime,jdbcType=INTEGER},
            </if>
            <if test="lastStartTime != null" >
                last_start_time = #{lastStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastStartTime == null" >
                last_start_time = NULL,
            </if>
            <if test="lastEndTime != null" >
                last_end_time = #{lastEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastEndTime == null" >
                last_end_time = NULL,
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="batchNumber != null" >
                batch_number = #{batchNumber,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>
